<div class="menu-desktop">
  <div class="container">
    <div class="col"></div>
    <div class="col">
      <img src="/Bilder/monTT_red4.png" width="32" height="32" />
    </div>
    <div class="col">
      <a href="/main.html">Tamiko Thiel </a>
    </div>
    <div class="col">
      <a href="/main.html">HOME</a>
    </div>
    <div class="col">
      <a href="/projects.html">PROJECTS</a>
    </div>
    <div class="col">
      <a href="/index.html">&nbsp;&nbsp;ARCHIVE</a>
    </div>
    <div class="col">
      <a href="/cv.html">&nbsp;&nbsp;&nbsp;CV</a>
    </div>
    <div class="col">
      <a href="/theory.html">THEORY&nbsp;&nbsp;</a>
    </div>
    <div class="col">
      <a href="/contact.html">CONTACT</a>
    </div>
    <div class="col">
      <a href="https://www.instagram.com/tamikothiel/?hl=de" target="_blank">
        <img src="/Bilder/Instagram_AppIcon_Aug2017.png" width="32" height="32"
          alt="Instagram" />
      </a>
    </div>
    <div class="col">
      <a href="https://www.linkedin.com/in/tamiko-thiel-5b869b44" target="_blank">
        <img src="/Bilder/LI-In-Bug.png" width="32" height="32" alt="Linked-In" />
      </a>
    </div>
    <div class="col"></div>
  </div>
</div>


