<div class="mobile-menu">
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="/main.html">
          <li>HOME</li>
        </a>
        <a href="/projects.html">
          <li>PROJECTS</li>
        </a>
        <a href="/index.html">
          <li>ARCHIVE</li>
        </a>
        <a href="/cv.html">
          <li>CV</li>
        </a>
        <a href="/cv.html#awards">
          <li>AWARDS</li>
        </a>
        <a href="/cv.html#reviews">
          <li>REVIEWS</li>
        </a>
        <a href="/theory.html">
          <li>THEORY</li>
        </a>
        <a href="/contact.html">
          <li>CONTACT</li>
        </a>
      </ul>
    </div>
  </nav>
  <div class="social-media">
    <div class="social-icon">
      <a href="https://www.instagram.com/tamikothiel/?hl=de" target="_blank">
        <img src="/lendmeyourface/online/Instagram_AppIcon_Aug2017.png" width="32"
          height="32" alt="Instagram" />
      </a>
    </div>
    <div class="social-icon">
      <a href="https://www.linkedin.com/in/tamiko-thiel-5b869b44" target="_blank">
        <img src="/lendmeyourface/online/LI-In-Bug.png" width="32" height="32"
          alt="LinkedIn" />
      </a>
    </div>
  </div>
</div>