<div class="menu-desktop">
  <div class="container">
    <div class="col"></div>
    <div class="col">
      <a href="/main.html">HOME</a>
    </div>
    <div class="col">
      <a href="/projects.html">PROJECTS</a>
    </div>
    <div class="col">
      <a href="/index.html">ARCHIVE</a>
    </div>
    <div class="col">
      <a href="/cv.html">CV</a>
    </div>
    <div class="col">
      <a href="/cv.html#awards">AWARDS</a>
    </div>
    <div class="col">
      <a href="/cv.html#reviews">REVIEWS</a>
    </div>
    <div class="col">
      <a href="/theory.html">THEORY</a>
    </div>
    <div class="col">
      <a href="/contact.html">CONTACT</a>
    </div>
    <div class="col">
      <a href="https://www.instagram.com/tamikothiel/?hl=de" target="_blank">
        <img src="/lendmeyourface/online/Instagram_AppIcon_Aug2017.png" width="32"
          height="32" alt="Instagram" />
      </a>
    </div>
    <div class="col">
      <a href="https://www.linkedin.com/in/tamiko-thiel-5b869b44" target="_blank">
        <img src="/lendmeyourface/online/LI-In-Bug.png" width="32" height="32"
          alt="Linked-In" />
      </a>
    </div>
    <div class="col"></div>
  </div>
</div>
