<div class="logo-heading"></div>
<div class="heading">
  <h1>
    Lend Me Your Face:
    <br />
    Go Fake Yourself!
  </h1>
  <br />
</div>
<div class="subheading">Deepfake AI net art, Tamiko Thiel and /p, 2020/2021<br />
    Commissioned by The Photographers' Gallery, 2021
</div>
  
  <div class="menu-projects-mobil">
      <button> 
      <img src="/lendmeyourface/online/Icons/further-information.svg" alt="MORE INFO" />
      <div class="button-text2">MORE INFO</div></button>
      
      <div class="menu-projects-mobil-content">
          
         <a href="/lendmeyourface/online/index.html">Go Fake Yourself! Home</a>
          
          <a href="https://thephotographersgallery.org.uk/lend-me-your-face" target="_blank">The Photographers' Gallery</a>
         
     </div>
     </div>
  
<div class="line"></div>