<div class="menu-projects">
      <div class="container-projects-2-columns">
         <div class="col-projects-2-columns"> </div>
 
          <div class="col-projects-2-columns">
             <a href="/lendmeyourface/index.html">Lend Me Your Face! Home</a></div>
          
          <div class="col-projects-2-columns">
             <a href="https://thephotographersgallery.org.uk/lend-me-your-face" target="_blank"> The Photographers' Gallery</a></div>

         <div class="col-projects-2-columns"> </div>
      </div>
     </div>
     
  